<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href=“http://fonts.googleapis.com/css?family=Arvo” rel=“stylesheet” type=“text/css”/>
    <link href=“http://fonts.googleapis.com/css?family=Bevan” rel=“stylesheet” type=“text/css”/>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}"/>
    <title>Title</title>
</head>
<body>
  <div id="wrapper">
    <div id="page">
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <br class="clearfix">
    </div>
    <br class="clearfix">
</div>

</body>
</html>