{% extends 'main.html' %}

{% block content %}

        <div class="last-child">
            {% if perms.base.change_room %}
                <a href="{% url 'room_update' room.id %}">Edit</a>
            {% endif %}
            {% if perms.base.delete_room and perms.base.delete_message and user.is_staff %}
                <a href="{% url 'room_delete' room.id %}">Delete</a>
            {% endif %}
        </div>

    <h1>{{ room.name }}</h1>
    <br>
    <div class="box">{{ room.description }}</div>
    {% if perms.base.add_message %}
        <div class="box room__message">
            <form method="post">
            {% csrf_token %}
            <input name="body" placeholder="Write your message here..."/>
            </form>
        </div>
    {% endif %}

        {% for message in messages %}
            {% if user == message.user %}
                <div class="box">
                <div style="float: right"><b>{{ message.user }}</b> [{{ message.created }}] </div>
                <div class="message" style="float: right; background-color: #e16060; color: white;" >{{ message.body }}</div>
                </div>
            {% else %}
                <div class="box">
                <div><b>{{ message.user }}</b> [{{ message.created }}] </div>
                <div class="message" style="float: right">{{ message.body }}</div>
                </div>
            {% endif %}
        {% endfor %}








{% endblock %}